.document-editor {
    /* Set vertical boundaries for the document editor. */
    /*max-height: 700px;*/

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}

.csl-entry > p {
   margin: 0;
}

/* TODO:: change this with a messaging*/
.csl-block {
    background: bisque;
}

.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}

/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: #EFEEF0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: auto;
}

@media only screen and (min-width: 900px) {
    .document-editor__editable-container {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .document-editor__editable-container .ck-editor__editable {
        width: 15.8cm;
    }
}


.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    min-height: 21cm;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );
}

/*  A4 page width */
.ck-editor{
    max-width: 210mm;
}

/* DEFAULT CSL STYLES */

.csl-entry {
    clear: left;
    margin-bottom: 16px;
}
.csl-left-margin {
    float: left;
    padding-right: 0.5em;
}
.csl-right-inline {
    clear: left;
    margin-bottom: 1em;
}

.csl-bib-body div {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
}

